@{
    ViewBag.Title = "Agency Employee Training and Education";
}


<div id="image" class="col-sm-6">
    <img width="500px" src="~/Content/images/training.jpg" />
    <p style="font-size: 0.9rem;font-style: italic;"><a href="https://www.flickr.com/photos/78147607@N00/27956630667">""</a><span>by <a href="https://www.flickr.com/photos/78147607@N00">euthman</a></span> is licensed under <a href="https://creativecommons.org/licenses/by/2.0/?ref=ccsearch&atype=html" style="margin-right: 5px;">CC BY 2.0</a><a href="https://creativecommons.org/licenses/by/2.0/?ref=ccsearch&atype=html" target="_blank" rel="noopener noreferrer" style="display: inline-block;white-space: none;opacity: .7;margin-top: 2px;margin-left: 3px;height: 22px !important;"><img style="height: inherit;margin-right: 3px;" src="https://search.creativecommons.org/static/img/cc_icon.svg" /><img style="height: inherit;margin-right: 3px;" src="https://search.creativecommons.org/static/img/cc-by_icon.svg" /></a></p>
</div>
<div id="hometext" class="col-sm-6">
    <p>
        Welcome to Agency's online employee training and education application.  The world of Direct Support requires several trainings and certifications.  This application will help you get certified and keep track of all of your trainings so you can make sure that you are qualified to work with the individuals we support.  Managers will recieve an e-mail every time one of their staff completes a course and can check on each employee's progress at any time.
    </p>
    <p>
        Each course is divided into individual lessons.  Staff are required to view each lesson in order to complete a course.  Some lessons contain a PDF file for supplemental information.  Others contain a video to watch.  Please ensure that you are viewing all of the material in each lesson before moving on to another one.  Staff can check their overall progress at any time by clicking the "My Progress" link at the top of the screen.
    </p>
</div>